body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.accent {
  color: #fd9222;
}

.section-title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.17; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

/* -------------------HEADER----------------------- */
.header {
}

.header-navigation {
  display: flex;
  /* justify-content: space-between; */
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  margin-left: auto;
  gap: 24px;
}

.header-menu-item {
}

.header-container {
  /* display: flex;
  justify-content: space-between; */
}
.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  display: inline-block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: chocolate;
}

.header-soc-list {
  display: flex;
  gap: 18px;
  margin-left: 90px;
}

.header-soc-item a {
  display: inline-block;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

.header-soc-icon:hover {
  stroke: #fd9222;
}

img {
  display: block;
}
/* -------------------HEADER----------------------- */

/* -------------------HERO----------------------- */

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  margin-bottom: 72px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 72px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../img/chocolate-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wraper {
  padding: 375px 40px 46px;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background: #fd9222;
  padding: 14px 40px;
  border: none;
  margin-right: 14px;
  transition-property: color, background-color;
  transition-duration: 300ms;
}

.hero-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-buttons-wrap {
  display: flex;
  align-items: center;
}

.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/* -------------------HERO----------------------- */

/* ---------------FEATURES--------------------- */
.features {
  background-color: #1e1823;

  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.features-item {
  padding-right: 28px;
}

.features-icon {
  width: 62px;
  height: 62px;
  border-radius: 50px;
  border: 1px solid #fd9222;
  background-color: transparent;
  margin-bottom: 22px;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ---------------FEATURES--------------------- */

/* ---------------TASTE--------------------- */
.taste {
  padding-top: 60px;
  padding-bottom: 30px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto 24px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin: 0 auto 32px;
  max-width: 100%;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 100%;
  /* width: 270px; */
  /* flex-basis: calc((100% - 57px) / 4); */
}

.taste-img {
  margin: 0 auto;
}

.taste-img-p {
  position: relative;
  overflow: hidden;
}

.taste-item-text {
  position: absolute;
  top: 0;
  background-color: #fd9222;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  border-radius: 15px;
  padding: 20px 16px;
  height: 100%;
  transition-property: transform;
  transition-duration: 300ms;
  transform: translateY(100%);
}

.taste-item:hover .taste-item-text {
  transform: translateY(0);
}
.taste-test {
  padding: 28px 32px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* зробити колір 2 сусідніх заголовків білим */
/* ---------------TASTE--------------------- */

/* ---------------MADE--------------------- */
.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-wraper {
}

.made-title {
  margin-bottom: 50px;
}

/* .made-title::before {
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../img/teast1.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .made-title::after {
  content: '|';
} */

.made-box-img {
  display: flex;
  gap: 20px;
}
.made-image {
}

.made-box-list {
  background-color: #fff;
  background-repeat: 15px;
  padding: 32px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 24px; */
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
  /* list-style-type: disc; */
}

.made-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 16px;
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #4c4c4c;
    border: 1px solid #eceded;
    flex-shrink: 0;
  }
}

.made-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  position: absolute;
  top: 5px;
  left: 0;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
/* ---------------MADE--------------------- */

/* ---------------REWIEWS--------------------- */
.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
  width: calc((100% - 56px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding: 56px 24px 24px;
  position: relative;
}

.reviews-image {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  /* line-height: 24px; */
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-item-text {
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: transparent;
  margin: 0 auto;
}
/* ---------------REWIEWS--------------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  width: 300px;
  height: 68px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
  color: #fff;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
  padding-bottom: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contact-us {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-input {
  font-size: 18px;
  letter-spacing: -0.02em;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;

  border: none;

  background-color: #fd9222;
}

/* -----------------Modal--------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 26px;
  right: 26px;
}

.modal-title {
  max-width: 300px;
  text-align: left;
  margin-bottom: 40px;
}

.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 68px;
  background-color: transparent;
  padding-left: 62px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.btn-send {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  background-color: #fd9222;
  border: none;
}

.modal-lable {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: inline-block;
  margin-bottom: 8px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input-svg {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  /* padding-right: 14px; */
}

.modal-textarea {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 137px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}

.modal-accept-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
  }

  span {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    margin-right: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
}

.modal-accept-checkbox:checked + .modal-accept-text span {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

/* ------------TABLE---------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px;
  }

  .features-item {
    flex-basis: calc((100% - 32px) / 2);
  }
  /* ---------------------------------------------- */
  .taste {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .taste-title {
    max-width: 411px;
    margin: 0 auto 28px;
  }

  .taste-text {
    margin: 0 auto 50px;
    max-width: 486px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

/* -------LAP-TOP-------- */

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    padding-left: 36px;
    padding-right: 36px;
    gap: 70px;
  }

  .features-item {
    flex-basis: calc((100% - 140px) / 3);
    padding-right: 18px;
  }

  /* ---------------------------------- */

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    flex-wrap: nowrap;
    gap: 19px;
  }

  .taste-item {
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 100%;
    width: 270px;
    flex-basis: calc((100% - 57px) / 4);
  }
}
